{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

{% with bootstrap="bootstrap/bootstrap-3.3.7-dist" jquery="jquery/jquery-3.2.1.min.js" jquery_validator="jquery/jquery.form-validator.min.js"%}
<head>
    <title>My Site - {% block pagetitle %}{% endblock %}</title>
    <script type="application/javascript" src="{% static jquery %}"></script>
    <script type="application/javascript" src="{% static jquery_validator %}"></script>
    <script type="application/javascript" src="{% static bootstrap|add:'/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static bootstrap|add:'/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static bootstrap|add:'/css/bootstrap-theme.css' %}" />
</head>
{% endwith %}

<body>

<div id="header">Company Site</div>

<div id="nav">
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/links/">Links</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
</div>

<div id="content">
    {% block body_content %}{% endblock %}
</div>
</body>

</html>